:root {
  --accent-color: ;
  --accent-dark: ;
  --accent-hover: ;

  /* colors */
  --background: ;
  --primary-color: ;
  --text-color: ;
  --text-light: ;
  --text-dark: ;

  /* basic UIs */
  --border-color: ;
  --border-widht: ;
  --box-shadow: ;

  /* fonts */
  --heading-font: ;
  --body-font: ;
  --optional-font: ;

  --font-weight-lg: 900;
  --font-weight-md: 500;
  --font-weight-sm: 300;

  --font-lg: 80px;
  --font-md: 54px;
  --font-sm: 18px;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: var(--body-font);
  color: var(--text-color);
}

p,
a,
span {
  font-weight: var(--font-weight-md);
  font-size: var(--font-sm);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-lg);
}

h2,
h3 {
  font-weight: var(--font-weight-md);
  font-size: var(--font-md);
}

/* aside */
aside {
  display: flex;
  height: 100vh;
  width: fit-content;
  flex-direction: column;
  border-right: 1px solid black;
  position: relative;
}

.logo {
  height: 80px;
  width: 100%;
  background-color: black;
}

.logo a {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.menu {
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  padding: 30px;
  font-size: 24px;
}

ul {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  flex-direction: column;
}
